{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <h2>Email Notifications</h2>
    <!-- In future, add in option to also include already released movies with a once a week etc email -->
    <p>Movie Helper uses an algorithm to send you notifications on new movies we think you'd like, based on your preferences!</p>
    <form>
      <div class="form-group">
        <!-- Change to get email addr from login profile, if possible -->
        <label for="exampleFormControlInput1">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect1">Favourite Cinema</label>
        <select class="form-control" id="exampleFormControlSelect1">
          <option>Cineworld - London Leicester Square</option>
        </select>
      </div>
      <h6>Genres</h6>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
          Action
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
        <label class="form-check-label" for="defaultCheck2">
          Comedy
        </label>
      </div>
      <div class="form-check mb-2">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
        <label class="form-check-label" for="defaultCheck2">
          Romance
        </label>
      </div>
      <button type="submit" class="btn btn-primary">Send Me Notifications!</button>
    </form>
{% endblock content %}
